In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [13]:
esg_2024 = pd.read_excel('esg_2024.xlsx')
fund_2024 = pd.read_excel('clean_fund_2024.xlsx')
print(esg_2024.shape)
print(fund_2024.shape)

(992, 5)
(8645, 8)

In [14]:
esg_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         992 non-null    object
 1   Environmental   992 non-null    int64
 2   Social          992 non-null    int64
 3   Governance      992 non-null    int64
 4   Climate change  992 non-null    int64
dtypes: int64(4), object(1)
memory usage: 38.9+ KB

In [15]:
esg_2024.head(4)

          Company  Environmental  Social  Governance  Climate change
0           3M Co              1       1           1               0
1  A O Smith Corp              1       0           1               1
2         ABB Ltd              1       1           1               1
3      AbbVie Inc              0       1           1               0

In [18]:
esg_2024.rename(columns={'Company':'Name',
                         'Climate change': 'Climate_change'}, inplace=True)
esg_2024.head(2)

             Name  Environmental  Social  Governance  Climate_change
0           3M Co              1       1           1               0
1  A O Smith Corp              1       0           1               1

In [17]:
fund_2024.loc[fund_2024['Name'].str.contains('Apple', case=False)]

,Industry,Region,Country,Name,Market_Value_USD,Voting,Ownership,Portfolio_Weight
6517,Real Estate,North America,United States,Apple Hospitality REIT Inc,21098821,0.57,0.57,0.001641
7175,Technology,North America,United States,Apple Inc,46210392003,1.22,1.22,3.593782

In [16]:
fund_2024.head(2)

,Industry,Region,Country,Name,Market_Value_USD,Voting,Ownership,Portfolio_Weight
0,Basic Materials,Asia,India,Aarti Industries Ltd,8265429,0.48,0.48,0.000643
1,Basic Materials,Europe,Lithuania,AB Grigeo,2506003,1.75,1.75,0.000195

In [19]:
#standardize company names to improve the merge
esg_2024['Name'] = esg_2024['Name'].str.lower().str.strip()
fund_2024['Name'] = fund_2024['Name'].str.lower().str.strip()

In [20]:
fund_esg_2024 = pd.merge(fund_2024, esg_2024, on='Name', how='left')
print(fund_esg_2024.shape)

(8645, 12)

In [21]:
fund_esg_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8645 entries, 0 to 8644
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Industry          8645 non-null   object
 1   Region            8645 non-null   object
 2   Country           8645 non-null   object
 3   Name              8645 non-null   object
 4   Market_Value_USD  8645 non-null   int64
 5   Voting            8645 non-null   float64
 6   Ownership         8645 non-null   float64
 7   Portfolio_Weight  8645 non-null   float64
 8   Environmental     936 non-null    float64
 9   Social            936 non-null    float64
 10  Governance        936 non-null    float64
 11  Climate_change    936 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 810.6+ KB

In [12]:
esg_2024.head(2)

,Company,Environmental,Social,Governance,Climate change,Company_clean
0,3M Co,1,1,1,0,3m co
1,A O Smith Corp,1,0,1,1,a o smith corp

In [ ]:
esg_2024
esg_2024.rename(columns={'Company_clean':'Name_clean'}, inplace=True)